/* CSS declarations go here */

.user_avatar{
	min-height:100px;
	text-align: center;

}
.avatar_img{
	height:75px;
}



.circular {
	margin-top: 20px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

.msg1{
	padding: 10px;
	border-style: solid;
    border-color: black;
	border-radius: 5px;
	border-width: 1px;
	background-color:  	#D8F6CE ;

}

.msg2{
	padding: 10px;
	border-style: solid;
    border-color: black;
	border-radius: 5px;
	border-width: 1px;
	background-color:  	#F8E0F1 ;

}

.faces{

	margin-top: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 3px;
    border-color: black;
	border-radius: 3px;
	background-color:  	#C0C0C0 ;
}
